menu "Air-Detector Settings"
   menu "WIFI Configuration"
   	  config WIFI_SSID
   	  	string "Wifi AP SSID"
   	  	default ""

   	  config WIFI_PASSWORD
   	  	string "Wifi AP Password"
   	  	default ""
   	  	
   	  config WIFI_TOPIC
   	  	string "WiFi MQTT Topic to listen Change-SSID command"
   	  	default "/air/system/0/wifi/command"
   endmenu
   
   menu "MQTT Configuration"
      config MQTT_BROKER_URI
         string "Broker URL"
         default ""

      config MQTT_BROKER_USERNAME
	     string "Broker user name"
	     default ""

      config MQTT_BROKER_PASSWORD
	     string "Broker user password"
	     default ""

      config MQTT_INIT_LOGGER_ENABLED
	     boolean "Enable log init messages to MQTT topic"
	     default true

      config MQTT_INIT_LOGGER_TOPIC
	     string "MQTT Init logger topic"
	     default "/air/system/0/logger/init"

      config MQTT_LIVE_LOGGER_ENABLED
	     boolean "Enable log live messages to MQTT topic"
	     default true

      config MQTT_LIVE_LOGGER_TOPIC
	     string "MQTT live logger topic"
	     default "/air/system/0/logger/live"
   endmenu
   
   menu "LED"
   	  config LED_ENABLED
   	  	 boolean "Enable LED driver"
   	  	 default false

   	  config LED_GPIO
   	  	 int "LED DIN pin connected to (inverted signal)"
   	  	 default 4
  	 
  	  config LED_TOPIC_COMMANDS
  		 string "MQTT topic to listen commands"
  		 default "/air/led/0/command"
   endmenu

   menu "I2C"
   	  config I2C_ENABLED
   	  	boolean "Enable I2C bus"
   	  	default false
   
   	  config I2C_GPIO_SCL
   	  	int "I2C GPIO SCL pin"
   	  	default 22

   	  config I2C_GPIO_SDA
   	  	int "I2C GPIO SDA pin"
   	  	default 21
   endmenu
   
   menu "Sensors"
   	  menu "SGP41"
   	  	config SGP41_ENABLED
	   	  	boolean "Enable SGP41 sensor integraion"
	   	  	default false
   	  	
   	  	config SGP41_TOPIC_DATA
   	  		string "MQTT topic for sensor data"
   	  		default "/air/sgp41/0/data"
   	  endmenu

   	  menu "BME280"
   	  	config BME280_ENABLED
	   	  	boolean "Enable BME280 sensor integraion"
	   	  	default false
   	  	
   	  	config BME280_TOPIC_DATA
   	  		string "MQTT topic for sensor data"
   	  		default "/air/bme280/0/data"
   	  endmenu
   	  
   	  menu "Touchpad"
   	  	config TOUCHPAD_ENABLED
	   	  	boolean "Enable touchpad sensor integraion"
	   	  	default false
   	  	
	   	config TOUCHPAD_ID
	   	  	int "Touchpad ID"
	   	  	default 2
   	  	
   	  	config TOUCHPAD_TOPIC_DATA
   	  		string "MQTT topic for sensor data"
   	  		default "/air/touchpad/0/data"
   	  endmenu
   endmenu
 endmenu
 
 